{% extends '@DdrDoctrine/base.html.twig' %}

{% block ddr_doctrine_entity_content %}
    <div class="page-header">
        <div class="pull-right">
            {% if is_granted('CREATE', entityClass) %}
                <a class="btn btn-default action create" href="{{ path(routes.edit,{'id':'new'}) }}">
                    <i class="fa fa-plus"></i>
                </a>
            {% endif %}
        </div>
        <h1>List</h1>
    </div>

    <div class="d-flex justify-content-center">
        {{ ddr_pagination(pagination, app.request) }}
    </div>

    <table class="table table-sm">
        <thead>
        <tr>
            {% for field,displayName in fields %}
                <th class="{{ field }}">{{ displayName }}</th>
            {% endfor %}
            <th class="actions">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                {% for field, displayName in fields %}
                    <td class="{{ field }} align-middle">{{ attribute(entity,field) }}</td>
                {% endfor %}
                <td class="actions">
                    {% if is_granted('READ', entity) %}
                        <a href="{{ path(routes.detail,{'id':entity.id}) }}" class="btn btn-outline-secondary btn-sm action detail">
                            <i class="fa fa-search"></i>
                        </a>
                    {% endif %}
                    {% if is_granted('UPDATE', entity) %}
                        <a href="{{ path(routes.edit,{'id':entity.id}) }}" class="btn btn-outline-secondary btn-sm action edit">
                            <i class="fa fa-pencil"></i>
                        </a>
                    {% endif %}
                    {% if is_granted('DELETE', entity) %}
                        <a href="{{ path(routes.delete,{'id':entity.id}) }}" class="btn btn-outline-secondary btn-sm action delete">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock ddr_doctrine_entity_content %}
