{% extends '@DdrDoctrine/base.html.twig' %}

{% block ddr_doctrine_entity_content %}
    <div class="ddr-page-header">
        <h1>{{ title }}</h1>
        <div class="ddr-actions">
            {% if is_granted('UPDATE', entity) %}
                <a class="btn btn-lg btn-primary ddr-btn-icon action edit" href="{{ path(routes.edit,{'id':entity.uuid}) }}">
                    <i class="fas fa-fw fa-pen"></i>
                </a>
            {% endif %}
            {% if is_granted('DELETE', entity) %}
                <a class="btn btn-lg btn-outline-danger ddr-btn-icon action delete" href="{{ path(routes.delete,{'id':entity.uuid}) }}">
                    <i class="fas fa-fw fa-trash-alt"></i>
                </a>
            {% endif %}
        </div>
    </div>

    <dl class="dl-horizontal ddr-doctrine-entity-detail">
        {% for field,displayName in fields %}
            <dt class="{{ field }}-description">{{ displayName }}</dt>
            <dd class="{{ field }}">{{ attribute(entity, field) }}</dd>
        {% endfor %}
    </dl>
{% endblock ddr_doctrine_entity_content %}
