{% extends '@DdrDoctrine/base.html.twig' %}

{% block ddr_doctrine_entity_content %}
    <div class="ddr-page-header">
        <h1>{{ title }}</h1>
        <div class="ddr-actions">
            {% if is_granted('CREATE', entityClass) %}
                <a class="btn btn-lg btn-primary ddr-btn-icon action create" href="{{ path(routes.edit,{'id':'new'}) }}">
                    <span class="fas fa-fw fa-plus"></span>
                </a>
            {% endif %}
        </div>
    </div>

    <table class="table table-sm ddr-entity-table">
        <thead>
        <tr>
            {% for field,displayName in fields %}
                <th class="{{ field }}">{{ displayName }}</th>
            {% endfor %}
            <th class="actions"></th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                {% for field, displayName in fields %}
                    <td class="{{ field }} align-middle">{{ attribute(entity,field) }}</td>
                {% endfor %}
                <td class="actions dropdown">
                    <a href="#" class="dropdown-toggle ddr-no-caret" data-toggle="dropdown">
                        <span class="fas fa-fw fa-ellipsis-v"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        {% if is_granted('READ', entity) %}
                            <a href="{{ path(routes.detail,{'id':attribute(entity, idProperty)}) }}" class="dropdown-item">
                                <span class="fas fa-fw fa-search mr-1"></span> Show
                            </a>
                        {% endif %}
                        {% if is_granted('UPDATE', entity) %}
                            <a href="{{ path(routes.edit,{'id':entity.uuid}) }}" class="dropdown-item">
                                <span class="fas fa-fw fa-pen mr-1"></span> Edit
                            </a>
                        {% endif %}
                        {% if is_granted('DELETE', entity) %}
                            <a href="{{ path(routes.delete,{'id':entity.uuid}) }}" class="dropdown-item">
                                <span class="fas fa-fw fa-trash-alt mr-1"></span> Delete
                            </a>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-center">
        {{ ddr_bs_paginator_pagination(entities, page, perPage) }}
    </div>
{% endblock ddr_doctrine_entity_content %}
